<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GPA Calculator</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">

    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="javascript/clientJavascript.js"></script>
    <script type="text/javascript" src="angularjs/angular.js"></script>
    <script type="text/javascript" src="javascript/main.controller.js"></script>
</head>
<body ng-app="mainApp" ng-controller="mainCtrl">
<div ng-include="'views/navbar.html'"></div>
<hr>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item" ng-app="mainApp" ng-controller="gpaCtrl">
            <h1>The BEST GPA Calculator</h1>
            <form ng-submit="addClass()">
                <input ng-model="classField" type="text" size="20" placeholder="Class Name">
                <input ng-model="gradeField" ng-maxlength="1" type="text" size="17" placeholder="Letter Grade Earned">
                <input ng-model="creditField" type="number" size="10" placeholder="Number of Credits">
                <br />
                <br />
                <input type="submit" value="submit" class="btn btn-primary">

            </form>

        </li>
        <li class="list-group-item" ng-repeat="test in data">{{test.text}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="removeData($index)"></span></li>
    </ul>
</div>
</body>
</html>