<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GPA Calculator</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">

    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="javascript/clientJavascript.js"></script>
    <script type="text/javascript" src="angularjs/angular.js"></script>
    <script type="text/javascript" src="javascript/main.controller.js"></script>
</head>
<body ng-app="mainApp">
<div ng-include="'views/navbar.html'"></div>
<hr>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <h1>The BEST GPA Calculator</h1>
            <form ng-submit="addData()">
                <input ng-model="textField" type="text" size="20" placeholder="Class 1 Name">
                <input ng-model="textField" type="text" size="20" placeholder="Letter Grade Earned">
                <input ng-model="textField" type="text" size="20" placeholder="Number of Credits">
                <br />
                <input ng-model="textField" type="text" size="20" placeholder="Class 2 Name">
                <input ng-model="textField" type="text" size="20" placeholder="Letter Grade Earned">
                <input ng-model="textField" type="text" size="20" placeholder="Number of Credits">
                <br />
                <input ng-model="textField" type="text" size="20" placeholder="Class 3 Name">
                <input ng-model="textField" type="text" size="20" placeholder="Letter Grade Earned">
                <input ng-model="textField" type="text" size="20" placeholder="Number of Credits">
                <br />
                <br />
                <input type="submit" value="submit" class="btn btn-primary">

            </form>

        </li>
    </ul>
</div>
</body>
</html>