<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Kittens!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="javascript/clientJavascript.js"></script>
    <script type="text/javascript" src="angularjs/angular.js"></script>
    <script type="text/javascript" src="javascript/main.controller.js"></script>
</head>
<body ng-app="mainApp">
<div ng-include="'views/navbar.html'"></div>
<hr>
<h1>THIS IS A PAGE ABOUT KITTENS</h1>
<img src="http://upload.wikimedia.org/wikipedia/commons/a/a5/Red_Kitten_01.jpg">
</body>
</html>